body {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(#99ffff, aqua);
}

#strider {
  font-size: 10rem;
  text-transform: uppercase;
  transform: skew(-10deg) rotate(-15deg);
  /* text-shadow: 1px 3px 4px rgba(0, 0, 0, 0.3); */
  animation: animate 2s infinite ease-in-out;
}

@keyframes animate {
  0% {
    transform: skew(-10deg) rotate(-15deg) translate(0, 0);
    text-shadow: 1px 3px 4px rgba(0, 0, 0, 0.3);
  }
  50% {
    transform: skew(-10deg) rotate(-15deg) translate(50px, -75px);
    text-shadow: -50px 75px 20px rgba(0, 0, 0, 0.3);
  }
  100% {
    transform: skew(-10deg) rotate(-15deg) translate(0, 0);
    text-shadow: 1px 3px 4px rgba(0, 0, 0, 0.3);
  }
}
