body {
  margin: 0;
  padding: 0;
  background-color: black;
}

.center {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  height: 240px;
  position: relative;
}

.arrow {
  position: absolute;
  top: 0;
  left: -4px;
  height: 60px;
  width: 8px;
  background-color: white;
  animation: animate 2s linear infinite;
}

.arrow::before {
  content: '';
  position: absolute;
  top: 36px;
  left: -10px;
  height: 20px;
  width: 20px;
  border-bottom: 8px solid white;
  border-right: 8px solid white;
  transform: rotate(45deg);
}

@keyframes animate {
  0% {
    transform: translateY(0);
    opacity: 0.9;
  }
  50% {
    transform: translateY(180px);
    opacity: 0.7;
  }
  100% {
    transform: translateY(240px);
    opacity: 0;
  }
}
