body {
  padding: 0;
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  position: relative;
}

.linkCont {
  position: absolute;
  top: calc(50% - 20px);
  left: calc(50% - 20px);
  background-color: white;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;
  box-shadow: 0 0 10px #1ad1ff;
}

.image {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  object-fit: contain;
  cursor: pointer;
}

.image:hover {
  box-shadow: 0 0 10px #1ad1ff;
  transition: all 1s;
}

.container:hover .linkCont {
  transition: 0.3s;
}

.container:hover .linkCont:nth-child(2) {
  transform: rotate(-75deg) translateY(-150px);
}
.container:hover .linkCont:nth-child(3) {
  transform: rotate(-45deg) translateY(-150px);
  transition-delay: 0.1s;
}
.container:hover .linkCont:nth-child(4) {
  transform: rotate(-15deg) translateY(-150px);
  transition-delay: 0.2s;
}
.container:hover .linkCont:nth-child(5) {
  transform: rotate(15deg) translateY(-150px);
  transition-delay: 0.3s;
}
.container:hover .linkCont:nth-child(6) {
  transform: rotate(45deg) translateY(-150px);
  transition-delay: 0.4s;
}
.container:hover .linkCont:nth-child(7) {
  transform: rotate(75deg) translateY(-150px);
  transition-delay: 0.5s;
}
