:root {
  --l: 200px;
  --r: 5px;
}

body {
  margin: 0;
  padding: 0;
}

.circle {
  position: absolute;
  top: calc(50% - var(--l) / 2);
  left: calc(50% - var(--l) / 2);
  border: var(--r) solid #4db8ff;
  width: var(--l);
  height: var(--l);
  border-radius: 50%;
  padding: 4px;
  overflow: hidden;
}

.wave {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #4db8ff;
  border-radius: 50%;
}

.wave:after,
.wave:before {
  content: '';
  position: absolute;
  width: 200%;
  height: 200%;
  top: 0;
  left: 50%;
  background-color: #000;
  transform: translate(-50%, -75%);
}

.wave:before {
  border-radius: 40%;
  background-color: rgba(255, 255, 255, 1);
  animation: animate 5s linear infinite;
}

.wave:after {
  border-radius: 35%;
  background-color: rgba(255, 255, 255, 0.5);
  animation: animate 5s linear infinite;
}

@keyframes animate {
  0% {
    transform: translate(-50%, -75%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -75%) rotate(360deg);
  }
}
